body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11pt;
    line-height: 140%;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center 10%;
}

h1 {
    margin-top: 15px;
    margin-bottom: 25px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

div {
    position: relative;
}

img {
    border: 0;
}

#fixedcontainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#pagebackground {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(190, 209, 215, 0.9) 0%, rgba(230, 230, 230, 0.9) 10%, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0.9) 70%, rgba(230, 230, 230, 0.9) 90%, rgba(190, 209, 215, 0.9) 100%);
}

#header, #footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.5);
    z-index: 20;
    box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.59);
}

.header {
    height: 65px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
}

#footer {
    text-align: center;
    color: white;
    font-size: 10pt;
    line-height: 30px;
    vertical-align: middle;
}

#pageheader {
    padding: 10px;
}

#logo {
    margin-left: -16px;
    margin-top: 0px;
}

.pagebox {
    width: 900px;
    margin: auto;
}

#pagecontainer {
    height: 100%;
    z-index: 10;
}

#rightheader-gradient, #rightfooter-gradient {
    background: linear-gradient(to right, rgba(150, 150, 150, 1) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 50%, rgba(150, 150, 150, 1) 100%);
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    top: 65px;
    overflow-y: auto;
    overflow-x: hidden;
}

.leftcontainer {
    position: absolute;
    left: 4px;
    top: 20px;
    bottom: 0;
    width: 212px;
    text-align: justify;
}

#rightgradients {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 72px -18px rgba(0, 0, 0, 0.75);
}

.rightcontainer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 663px;
}

#content .leftcontainer {
    display: none;
}

#content .rightcontainer {
    left: 260px;
    right: 20px;
    top: 15px;
    width: auto;
}

#contact-links li {
    display: block;
    line-height: 25px;
    vertical-align: middle;
}

#aboutfooter {
    display: none;
    margin-bottom: 20px;
}

#aboutfooter hr {
    margin-top: 50px;
    margin-bottom: 20px;
}

#fixedabout {
    top: 85px;
}

nav hr {
    display: none;
}

.header nav {
    position: absolute;
    top: -8px;
    right: 20px;
    text-align: right;
    font-weight: bold;
    font-size: 10pt;
    line-height: 14pt;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#content nav {
    text-align: right;
    font-size: 11pt;
    font-weight: bold;
    line-height: 14pt;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    display: none;
}

#content nav hr {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    display: block;
}

#content nav ul {
    display: flex;
    width: 100%;
    margin-bottom: 0;
}

#content nav ul li {
    flex: 1;
    padding-right: 50px;
}

#aboutfooter-link {
    display: none;
    position: absolute;
    right: 30px;
    top: 10px;
    width: 110px;
    text-align: right;
    font-weight: bold;
    font-size: 10pt;
    line-height: 20px;
    vertical-align: text-top;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#aboutfooter-link span {
    position: absolute;
    right: 20px;
    bottom: 0;
}

nav ul {
    list-style-type: none;
    float: left;
}

.contenttext {
    text-align: justify;
}

.contenttext li {
    left: 20px;
}

.contenttext a:link, .contenttext a:active, .contenttext a:visited {
    border-bottom: 1px dotted #000000;
}

a:hover, .contenttext a:hover {
    text-decoration: underline;
    border-bottom: 0;
}

a:link, a:active, a:visited, a.nodecoration:link, a.nodecoration:active, a.nodecoration:visited, a.nodecoration:hover {
    border-bottom: 0;
    text-decoration: none;
    color: inherit;
}

hr {
    color: #0088aa;
}

.contrast-color {
    color: #0088aa;
}

.pubtype, .pubtag {
    border: 1px solid #0088aa;
    color: #0088aa;
    border-radius: 3px;
    font-size: 7pt;
    line-height: 13pt;
    padding: 2px;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.small-title {
    font-size: 12pt;
    margin-left: 1px;
}

@media (max-height: 860px) {
    #fixedabout {
        display: none;
    }

    #content .leftcontainer {
        display: block;
    }
}

@media (max-width: 920px) {
    .pagebox {
        width: 100%;
    }

    .leftcontainer {
        display: none;
    }

    .rightcontainer {
        left: 0;
        right: 0;
        width: 100%;
    }

    #content .rightcontainer {
        left: 20px; 
        right: 20px;
    }

    #aboutfooter {
        display: inline-block;
    }

    #fixedabout {
        display: none;
    }

    #content .leftcontainer {
        display: none;
    }

    .header nav {
        display: none;
    }

    #content nav {
        display: block;
    }

    #aboutfooter-link {
        display: block;
    }
}